<!-- ======= Footer Section/Seção de Rodapé ======= -->
<section class="footer">
  <div class="box-container">
    <div class="box">
      <i class="fas fa-envelope"></i>
      <h3>Nossos E-mails</h3>
      <p>danieloliveira.webmaster@gmail.com</p>
      <p>danieloliveira.webmaster@hotmail.com</p>
    </div>
    <div class="box">
      <i class="fas fa-clock"></i>
      <h3>Horário de funcionamento</h3>
      <p>07h00 às 21h00</p>
    </div>
    <div class="box">
      <i class="fas fa-map-marker-alt"></i>
      <h3>localização da loja</h3>
      <p>Brasil, Manaus - 69090-380</p>
    </div>
    <div class="box">
      <i class="fas fa-phone"></i>
      <h3>Nossos Números</h3>
      <p>+55 (92) 99221-5201</p>
      <p>+55 (92) 99221-5202</p>
    </div>
  </div>
  <div class="credit"> &copy; Copyright @ 2022 Por <span>Daniel Oliveira</span> | Todos os Direitos Reservados!</div>
</section>
