<!-- ======= Facility Section/Seção de Instalações ======= -->
<section class="facility">
  <div class="heading">
    <img src="../../assets/heading-img.png" alt="">
    <h3>Nossa instalação</h3>
  </div>
  <div class="box-container">
    <div class="box">
      <img src="../../assets/icon-1.png" alt="">
      <h3>Variedades de cafés</h3>
      <p>Atirei o pau no gatis, per gatis num morreus. Copo furadis é disculpa de beba.</p>
    </div>
    <div class="box">
      <img src="../../assets/icon-2.png" alt="">
      <h3>Grãos de café</h3>
      <p>Admodum accumsan disputationi eu sit. Vide electram sadipscing et per. Mauris.</p>
    </div>
    <div class="box">
      <img src="../../assets/icon-3.png" alt="">
      <h3>café da manhã e doces</h3>
      <p>Praesent malesuada urna nisi, quis volutpat erat hendrerit non. Nam.</p>
    </div>
    <div class="box">
      <img src="../../assets/icon-4.png" alt="">
      <h3>Leia para tomar café</h3>
      <p>Per aumento de cachacis, eu reclamis. Interessantiss quisso pudia ce receita.</p>
    </div>
  </div>
</section>
