/* ======= Facility Section/Seção de Instalações ======= */
.facility .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
  align-items: flex-start;
}


.facility .box-container .box {
  text-align: center;
}


.facility .box-container .box img {
  height: 10rem;
  margin-bottom: .5rem;
}

.facility .box-container .box h3 {
  font-size: 2rem;
  color: var(--black);
  margin: 1rem 0;
}


.facility .box-container .box p {
  line-height: 2;
  font-size: 1.5rem;
  color: var(--light-color);
}
