<!-- ======= About Section/Seção Sobre ======= -->
<section class="about" id="about">
  <div class="image">
    <img src="../../assets/about-img.svg" alt="">
  </div>
  <div class="content">
    <h3>Uma xícara de café pode completar o seu dia</h3>
    <p>Leite de capivaris, leite de mula manquis sem cabeça. Suco de cevadiss, é um leite divinis, qui tem lupuliz,
      matis, aguis e fermentis. Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis! Quem num gosta di mé,</p>
    <a href="#menu" class="btn">Nosso cardápio</a>
  </div>
</section>
