<!-- ======= Contacts Section/Seção de Contatos ======= -->
<section class="contact" id="contact">
  <div class="heading">
    <img src="../../assets/heading-img.png" alt="">
    <h3>Nossos Contatos</h3>
  </div>
  <div class="row">
    <div class="image">
      <img src="../../assets/contact-img.svg" alt="">
    </div>
    <form action="" method="post">
      <h3>Reservar uma mesa</h3>
      <input type="text" name="name" required class="box" maxlength="20" placeholder="Digite Seu Nome">
      <input type="number" name="number" required class="box" maxlength="20" placeholder="Digite Seu Número" min="0" max="9999999999" onkeypress="if(this.value.length == 10) return false">
      <input type="number" name="guests" required class="box" maxlength="20" placeholder="Quantos convidados" min="0" max="99" onkeypress="if(this.value.length == 2) return false">
      <input type="submit" name="send" value="Enviar Mensagem" class="btn">
    </form>
  </div>
</section>

