<!-- ======= Menu Section/Seção de Cardapio ======= -->
<section class="menu" id="menu">
  <div class="heading">
    <img src="../../assets/heading-img.png" alt="">
    <h3>Cardápio popular</h3>
  </div>
  <div class="box-container">
    <div class="box">
      <img src="../../assets/menu-1.png" alt="">
      <h3>Te amo café</h3>
    </div>
    <div class="box">
      <img src="../../assets/menu-2.png" alt="">
      <h3>Cappuccino</h3>
    </div>
    <div class="box">
      <img src="../../assets/menu-3.png" alt="">
      <h3>Café mocha</h3>
    </div>
    <div class="box">
      <img src="../../assets/menu-4.png" alt="">
      <h3>Frappuccino</h3>
    </div>
    <div class="box">
      <img src="../../assets/menu-5.png" alt="">
      <h3>Café preto</h3>
    </div>
    <div class="box">
      <img src="../../assets/menu-6.png" alt="">
      <h3>Amo o café do coração</h3>
    </div>
  </div>
</section>

