/* ======= Gallery Section/Seção de Galeria ======= */
.gallery .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 33rem);
  gap: 1.5rem;
  justify-content: center;
}

.gallery .box-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
