<!-- ======= Gallery Section/Seção de Galeria ======= -->
<section class="gallery" id="gallery">
  <div class="heading">
    <img src="../../assets/heading-img.png" alt="">
    <h3>Nossa Galeria</h3>
  </div>
  <div class="box-container">
    <img src="../../assets/gallery-1.webp" alt="">
    <img src="../../assets/gallery-2.webp" alt="">
    <img src="../../assets/gallery-3.webp" alt="">
    <img src="../../assets/gallery-4.webp" alt="">
    <img src="../../assets/gallery-5.webp" alt="">
    <img src="../../assets/gallery-6.webp" alt="">
  </div>
</section>
