<!-- ======= Team Section/Seção de Time ======= -->
<section class="team" id="team">
  <div class="heading">
    <img src="../../assets/heading-img.png" alt="">
    <h3>Nosso Time</h3>
  </div>
  <div class="box-container">
    <div class="box">
      <img src="../../assets/our-team-1.jpg" alt="">
      <h3>Felipe Alexandre</h3>
    </div>
    <div class="box">
      <img src="../../assets/our-team-2.jpg" alt="">
      <h3>Diego Souza</h3>
    </div>
    <div class="box">
      <img src="../../assets/our-team-3.jpg" alt="">
      <h3>Priscila Andrade</h3>
    </div>
    <div class="box">
      <img src="../../assets/our-team-4.jpg" alt="">
      <h3>Daniel Oliveira</h3>
    </div>
    <div class="box">
      <img src="../../assets/our-team-5.jpg" alt="">
      <h3>Adria Nascimento</h3>
    </div>
    <div class="box">
      <img src="../../assets/our-team-6.jpg" alt="">
      <h3>Bruno Carvalho</h3>
    </div>
  </div>
</section>
